@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: "Maven Pro", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav-section-start */
.navbar {
  background-color: rgb(212, 0, 0) !important;
}

.nav-item .nav-link {
  color: #fff !important;
  font-size: 14px;
  margin-left: 5px;
  font-weight: 500;
}

.nav-item .nav-link:hover {
  color: #b9b7b7 !important;
}

.dropdown-menu {
  background-color: rgb(212, 0, 0) !important;
  border: 1px solid #fff !important;
}

.dropdown-item {
  color: #fff !important;
  font-size: 13px;
  font-weight: 400 !important;
  letter-spacing: 1px;
  margin-top: 6px;
}

.dropdown-item:hover {
  background-color: rgb(175, 1, 1) !important;
}

@media screen and (max-width: 500px) {
  .dropdown-menu {
    background-color: rgb(212, 0, 0) !important;
    border: none !important;
  }
}


.nav-item a {
  color: #fff !important;
}




.navbar-nav .navbar-link{
    margin: 7px;
}

/* .dropend .dropdown-toggle{
    margin: 7px;
} */

#dropdown_items:hover {
    color: white !important;
  
} 


.dropdown-menu {
    width: 150px;
}

.dropdown-menu .dropdown-item {
    padding: 10px;
    /* font-size: 15px; */
    margin: 0;
    border-radius: 0px;
}

.dropdown-menu .dropdown-item {
    /* color: tomato; */
    border: none;
 
}


/* .dropdown-menu .dropdown-item:hover {
    color: rgb(255, 255, 255);
 
    border: none;

} */

.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
}

.navbar-brand img {
    padding: 0;
}
  
.nav-item .navbar-link {
    position: relative;
    font-size: 18px;
    padding: 5px 0;
    display: inline-block;
    text-transform: uppercase;
}
 

.nav-item .navbar-link::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
}

.nav-item .navbar-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}







/* nav-section-end */

/* hero- section-start */
#hero img {
  height: 80vh;
  object-fit: cover;
}

@media screen and (max-width:550px) {
  #hero img {
    height: 30vh;
    object-fit: cover;
  }
}

/* hero- section-end */

/* about-section-start */
#about-us {
  background-color: #cf2e2e;
  color: #fff;
}

.about {
  padding: 60px 0px 50px 0px;
  margin-left: 10px;
}

.about a {
  width: 100px;
  box-shadow: 0px 8px 10px 0px rgba(198.75, 3.456521739130437, 3.456521739130437, 0.5);
  background-color: red;
  font-size: 12px;
}

.about-video {
  padding: 75px 0px 50px 0px;
  /* margin-left: 10px; */
}

.about-video iframe {
  width: 98%;
  height: 450px;
  border: 1px solid black;
  box-shadow: 0px 8px 10px 0px rgba(95, 92, 92, 0.5);
}

.about-video a {
  width: 100px;
  box-shadow: 0px 8px 10px 0px rgba(198.75, 3.456521739130437, 3.456521739130437, 0.5);
  background-color: red;
  font-size: 12px;
}

/* about-section-end */

/* vision-section-start */
#vision {
  padding: 50px 0px;
}

.section-header-underline {
  padding: 2px;
  width: 110px;
  margin: auto;
  background-color: red;
  border-radius: 20px;
}

.vision-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.vision-text {
  margin-top: 110px;
}

.vision-text ul {
  font-size: 18px;
}

.vision-cis-img img {
  width: 98%;
  float: right;
  margin-top: 20px;
}

/* vision-section-end */
/* mission-section-start  */

.mission-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.mission-safar-img {
  margin-top: 50px;
}

.mission-safar-img img {
  width: 100%;
}

.mission-text p {
  margin-top: 110px;
}

@media screen and (max-width: 500px) {
  .mission-text p {
    margin-top: 50px !important;
  }
}

/* mission-section-end */

/* activities-section-start */
#activities {
  padding: 20px 0px;
}

.activities-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}


.content-area {
  background: var(--white);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
  border-radius: 6px;
  /* margin: 10px;   */
}


.img-area p {
  font-size: 12px;
  margin-top: 10px;
  border-radius: 6px;
}
.img-area-picture{
position: relative;
}
.img-area-picture img {
  width: 100% !important;
  height: 200px;
  display: block;
  margin: auto;
  object-fit: cover;
  position: relative;
}

.image-overlay{
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  opacity: 0;
  transition: opacity 0.3s ease;
}
.img-area-picture:hover .image-overlay {
  opacity: 0.6;
}

.img-area-picture h5{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  padding: 4px 5px;
  background-color: rgb(206, 3, 3);
  color: #fff;
}



.img-area a {
  text-align: center;
  font-size: 17px;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  color: red;
  font-weight: 500;
}

.img-area a:hover {
  color: red;
}

.img-area .read {
  float: left;
  font-size: 15px;
  text-decoration: none;
  margin-top: 10px;


}

.owl-dots {
  text-align: center;
  margin-top: 2%;
}

.owl-dot {
  width: 10px !important;
  height: 10px !important;
  background-color: rgb(180, 178, 178) !important;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.8;
}

.owl-dot.active {
  background-color: red !important;
}

@media screen and (max-width: 990px) {
  .testimonial-header h1 {
    font-size: 2em;
  }
}

/* activities-section-end */
/* working-and-story-section-start */
#workandstory {
  padding: 50px 0px;
}

.work-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.work-map {
  margin-top: 55px !important;
}

.work-map img {
  width: 100%;
}

.story-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}


.story-area {
  background: var(--white);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
  border-radius: 6px;

}



.owl-dots {
  text-align: center;
  margin-top: 2%;
}

.owl-dot {
  width: 10px !important;
  height: 10px !important;
  background-color: rgb(180, 178, 178) !important;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.8;
}

.owl-dot.active {
  background-color: red !important;
}

@media screen and (max-width: 990px) {
  .testimonial-header h1 {
    font-size: 2em;
  }
}


/* working-and-story-section-end */
/* impacts-section-start */
#impacts {
  padding: 50px 0px;
}

.impact-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.impact-main-area {
  padding: 50px 0px;
  background-color: rgb(99, 3, 3);
}

.impact-item {

  padding: 50px;
  border: 1px solid white;
}

.impact-item h1 {

  font-size: 50px;
  color: #fff;
  text-align: center;
}

.impact-item h2 {

  font-size: 25px !important;
  color: #fff;
  text-align: center;
}

/* impacts-section-end */
/* feedback-section-start */
#feedback {
  padding: 20px 0px;
}

.feed-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.feedback-area {
  background: var(--white);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
  border-radius: 6px;

}

.yourfeed {
  width: 100%;
  padding: 60px;
  /* border: 1px solid black; */
  position: relative;
  z-index: -1;
  box-shadow: 9px 11px 14px 0 rgba(0, 0, 0, .1);
}

.yourfeed p {
  text-align: center;
  color: rgb(121, 118, 118);
}

.your-info {
  margin: auto;
  width: 30%;
  margin-top: -40px;
  z-index: 1;
}

.yourfeed-img {

  width: 70px;
  display: block;
  margin: auto;

}

.yourfeed-img img {

  border-radius: 50%;
  top: 0;
  width: 120px;
}

.yourfeed-info h3 {
  font-size: 18px;
  text-align: center;
}

.yourfeed-info p {
  text-align: center;
  font-size: 13px;
}



.owl-dots {
  text-align: center;
  margin-top: 2%;
}

.owl-dot {
  width: 10px !important;
  height: 10px !important;
  background-color: rgb(180, 178, 178) !important;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.8;
}

.owl-dot.active {
  background-color: red !important;
}

@media screen and (max-width: 990px) {
  .testimonial-header h1 {
    font-size: 2em;
  }
}

/* feedback-section-end */
/* partners-section-start */
#partners {
  padding: 50px 0px;
}

.partner-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.pantner-info {
  width: 100%;

}

.pantner-info img {
  width: 100%;
  object-fit: cover;


}

/* partners-section-end */
/* photo-gallery-section-start */
#photo-gallery {
  padding: 50px 0px;
}

.gallery-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.gallary-img {
  width: 100%;
  margin-top: 25px;
  position: relative;
}

.gallary-img img {
  width: 100%;
  
}

.gallary-image-overlay{
  display: flex;
align-items: center; 

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  opacity: 0;
  transition: opacity 0.3s ease;
}
.gallary-image-overlay h5{
color: #fff;
padding-left: 20px;

}
.gallary-img:hover .gallary-image-overlay {
  opacity: 0.6;
  
}

.gallary-button {
  width: 120px;
  margin: auto;
  margin-top: 25px;

}

.gallary-button a {
  background-color: red;
  width: 120px;
  margin: auto;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;

}

.gallary-button a:hover {
  background-color: black;
  color: #fff;
}

/* photo-gallery-section-end */
/* fotter-section-start */
#fotter {
  padding: 100px 0px;
  background-color: rgb(160, 7, 7);
}

.society-logo img {
  width: 100%;
}

.society p {
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.facebook {
  margin-left: 30px;
  padding-bottom: 20px;
}

.facebook i {
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.useful-header h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.underline {
  width: 50%;
  margin: auto;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
}

.links a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
}

.links a:hover {
  color: black;
}

.latest-header h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.updeat-img img {
  width: 40%;
}

.updeat {
  display: flex;
}

.updeat-text {
  margin-left: -95px !important;
}

.updeat-text a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;

}

.updeat-text a:hover {
  color: black;
}

.contact-header h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.phone {
  display: flex;
  margin: auto;
  width: 40%;
  margin-top: 20px;
}

.call i {
  margin-right: 10px;
}

.namber a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.gmail {
  display: flex;
  margin: auto;
  width: 40%;
  margin-top: 20px;

}

.mail i {
  margin-right: 10px;
  margin-left: 5px;
}

.cis-mail a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.area {
  display: flex;
  margin: auto;
  width: 50%;
  margin-top: 20px;

}

.area-icon i {
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 30px;
}

.area-name a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.subscribe h1 {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.for {
  width: 70%;
  margin: auto;
  margin-left: 50px;
}

.for p {
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.login input {
  width: 70%;
  padding: 8px 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border: none;
  margin-left: 50px;

}

.login label {
  background-color: #790303;
  padding: 9px 15px;
  margin-left: -3px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.copyright {
  padding: 20px 0px;
  width: 100%;
}

.copy p {
  text-align: center;
}

/* fotter-section-end */
/* copyright-section-start  */
#copyright {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: #fff;
}

/* copyright-section-end */

/* about-section-start */
/* about-hero-section-start*/
.about-hero {
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.about-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  position: relative;
}

/* about-hero-section-end*/
/* about-us-section-start */
#nav-about-us {
  padding: 10px 0px 50px 0px;
  background-color: #fff;
}

.nav-about-header h1 {
  font-size: 25px;
  margin-top: 0;
  color: #fff;
  background-color: rgb(209, 7, 7);
  padding: 10px;
  width: 30%;
}

.nav-about-header p {
  color: black;
  font-size: 15px;
}

/* about-us-section-end */
/* about-section-end */

/* history-section-start */
/* history-hero-section-start*/
.history-hero {
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.history-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.history-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  position: relative;
}

/* history-us-section-start */
#nav-our-history {
  padding: 10px 0px 80px 0px;
  background-color: #fff;
}

.nav-history-header h1 {
  font-size: 25px;
  margin-top: 0;
  color: #fff;
  background-color: rgb(209, 7, 7);
  padding: 10px;
  width: 30%;
}

.nav-history-header p {
  color: black;
  font-size: 15px;
}

/* history-us-section-end */

/* history-hero-section-end*/

/* mission&vision-section-start */
/* mission&vision-hero-start */
.mission-vision-hero {
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mission-vision-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.mission-vision-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  position: relative;
}

@media screen and (max-width:470px) {
  .mission-vision-hero h1 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;

  }
}

/* mission&vision-hero-end */

/* mission&vision-text-section-start */

#mission-vision {
  background: url(../img/hero-img/la\ \(1\).jpg);
  width: 100%;
  /* height: 700px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0px;
}

.mission {
  padding: 0px 60px 0px 0px;
}

.mission h2 {
  color: #fff;
}

.mission p {
  color: #fff;
  font-size: 17px;
  text-align: justify;
}

.vission {
  padding: 0px 0px 0px 80px;

}

.vission h2 {
  color: #fff;

}

.vission ul li {
  color: #fff;
  float: right;
  text-align: justify;
  font-size: 17px;

}

/* mission&vision-text-section-end */
/* mission&vision-section-end */

/* governing-board-section-start */
/* governing-board-hero-section-start  */
.governing-board-hero {
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.governing-board-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.governing-board-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  position: relative;
}

@media screen and (max-width:470px) {
  .governing-board-hero h1 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
  }
}

/* governing-board-hero-section-end */
/* governing-board-card-section-start */
#governing-board-card {
  padding: 0px 0px 100px 0px;
}

.governing-board-info-card {
  padding: 40px 20px;
  /* background-color: antiquewhite; */
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.governing-board-card-img img {
  width: 100%;
}

.governing-board-card-text h5 {
  text-align: center;
}

.governing-board-card-text h5 a {
  text-decoration: none;
  color: black;
}

.governing-board-card-text p {
  text-align: center;
}

.governing-social {
  background-color: #b9b7b7;
  padding: 9px 6px 6px 6px;
  border-radius: 50%;
}

.governing-social i {
  font-size: 20px;
}

/* governing-board-card-section-end */
/* governing-board-section-end */

/* partners-section-start */
#nav-main-partner {
  padding: 40px 0px 80px 0px;
}

.international {
  padding: 50px 0px;
  border: 3px solid red;
}

.international-logo {
  /* padding: 10px; */
  background-color: rgb(199, 2, 2);
  width: 100px;
  border-radius: 50%;
  margin: auto;
}

.international-logo i {
  font-size: 50px;
  padding: 20px;
  text-align: center;

}

.international-text h3 {
  text-align: center;
}



.national {
  padding: 50px 0px;
  border: 3px solid red;
}

.national-logo {
  padding: 20px;
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  border: 25px solid green;
}

.national-logo i {
  font-size: 50px;
  padding: 20px;
  text-align: center;

}

.national-text h3 {
  text-align: center;
}

/* partner-fotter-start */
#partner-fotter {
  padding: 100px 0px;
  background-color: rgb(37, 37, 37);
}

.partner-society p {
  text-align: center;
  font-size: 14px;
  color: red;
}

.partner-facebook {
  margin-left: 30px;
  padding-bottom: 20px;
}

.partner-facebook i {
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.useful-header h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.underline {
  width: 50%;
  margin: auto;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
}

.partner-links a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.partner-links a:hover {
  color: black;
}

.latest-header h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.updeat-img img {
  width: 40%;
}

.updeat {
  display: flex;
}

.partner-updeat-text {
  margin-left: -95px !important;
}

.partner-updeat-text a {
  text-decoration: none;
  color: red;
  font-size: 12px;

}

.updeat-text a:hover {
  color: black;
}

.contact-header h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.phone {
  display: flex;
  margin: auto;
  width: 40%;
  margin-top: 20px;
}

.call i {
  margin-right: 10px;
}

.partner-namber a {
  text-decoration: none;
  color: red;
  font-size: 14px;
}

.gmail {
  display: flex;
  margin: auto;
  width: 40%;
  margin-top: 20px;

}

.mail i {
  margin-right: 10px;
  margin-left: 5px;
}

.partner-cis-mail a {
  text-decoration: none;
  color: red;
  font-size: 14px;
}

.area {
  display: flex;
  margin: auto;
  width: 50%;
  margin-top: 20px;

}

.area-icon i {
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 30px;
}

.partner-area-name a {
  text-decoration: none;
  color: red;
  font-size: 14px;
}

.partner-subscribe h1 {
  text-align: center;
  color: red;
  font-size: 18px;
  margin-top: 10px;
}

.for {
  width: 70%;
  margin: auto;
  margin-left: 50px;
}

.partner-for p {
  text-align: center;
  font-size: 14px;
  color: red;
}

/* partner-fotter-end */
/* partners-section-end */

/* International Partners-section-start */
#nav-International-Partners {
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.International-Partners{
  padding: 80px 100px 100px 100px;
  background-color: #fff;
}

.International-Partners-header h3 {
  font-weight: 400;
}
/* 
.work-for-text p {
  font-size: 15px;
  text-align: justify;
  margin-top: 20px;
  padding-left: 10px;
} */
.International-banar img{
  width: 100%;
}


@media screen and (max-width:500px) {
  .International-Partners {
    padding: 10px;
    background-color: #fff;
  }
}

/* International Partners-section-end */

/* national Partners-section-start */
#nav-national-Partners {
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.national-Partners{
  padding: 80px 100px 100px 100px;
  background-color: #fff;
}

.national-Partners-header h3 {
  font-weight: 400;
}

/* .work-for-text p {
  font-size: 15px;
  text-align: justify;
  margin-top: 20px;
  padding-left: 10px;
} */
.national-banar img{
  width: 100%;
}

.national-Partners-member h3{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
}
.national-Partners-member h1{
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  color: red;
}
.national-Partners-member h4{
  text-align: center;
  color: red;
  margin-top: -20px;
}


@media screen and (max-width:500px) {
  .national-Partners {
    padding: 10px;
    background-color: #fff;
  }
}


/* national Partners-section-end  */

/* 
we-work-for-section-start  */
#we-work-for {
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.work-for {
  padding: 100px;
  background-color: #fff;
}

.work-for-header h3 {
  font-weight: 400;
}

.work-for-text p {
  font-size: 15px;
  text-align: justify;
  margin-top: 20px;
  padding-left: 10px;
}

@media screen and (max-width:500px) {
  .work-for {
    padding: 10px;
    background-color: #fff;
  }
}

/* we-work-for-section-end */


/* working-area-section-start */
/*working-area-hero-section-start*/
.working-hero {
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.working-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.working-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  position: relative;
}

/* working-area-hero-section-end*/
#nav-working-area {
  padding: 10px 0px 80px 0px;
  background-color: #fff;
}

.nav-working-header h1 {
  font-size: 25px;
  margin-top: 0;
  color: #fff;
  background-color: rgb(209, 7, 7);
  padding: 10px;
  width: 30%;
}

.nav-working-header p {
  font-size: 18px;
  margin-top: 30px;
}

.nav-working-map img {
  width: 100%;
}

.nav-working-text p {
  font-size: 18px;
  text-align: justify;
}

/* working-area-section-end */
/* our-approach-section-start */
#nav-our-approach {
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.nav-approach {
  padding: 100px;
  background-color: #fff;
}

.nav-approach-header h3 {
  font-weight: 700;
  font-size: 18px;
}

.nav-approach-text p {
  font-size: 15px;
  text-align: justify;
  margin-top: 20px;
  padding-left: 10px;
}

.disaster-response-header h3 {
  font-weight: 700;
  font-size: 15px;
  margin-top: 20px;
}

.disaster-response-text ul {
  padding: 0px 50px 0px 80px;
  font-size: 15px;
  margin-top: 20px;
}

.drr-header h3 {
  font-weight: 700;
  font-size: 15px;
  margin-top: 20px;
}

.drr-text ul {
  padding: 0px 50px 0px 80px;
  font-size: 15px;
  margin-top: 20px;
}

.lnnovation-header h3 {
  font-weight: 700;
  font-size: 15px;
  margin-top: 20px;
}

.lnnovation-text ul {
  padding: 0px 50px 0px 80px;
  font-size: 15px;
  margin-top: 20px;
}

.lnnovation-text ul span {
  font-weight: 600;
}

.research-header h3 {
  font-weight: 700;
  font-size: 15px;
  margin-top: 20px;
}

.research-text ul {
  padding: 0px 50px 0px 80px;
  font-size: 15px;
  margin-top: 20px;
}

.dissemination-header h3 {
  font-weight: 700;
  font-size: 15px;
  margin-top: 20px;
}

.dissemination-text ul {
  padding: 0px 50px 0px 80px;
  font-size: 15px;
  margin-top: 20px;
}

@media screen and (max-width:500px) {
  .nav-approach {
    padding: 10px;
    background-color: #fff;
  }
}

/* our-approach-section-end */

/* activities-section-start  */
/* activities-hero-section-start */

.active-hero {
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.active-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.active-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  position: relative;
}

/* activities-hero-section-end  */
#nav-activities {
  padding: 0px 0px 100px 0px;
}

.activities-img {
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;
}
.activities-img h5{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  padding: 4px 5px;
  background-color: rgb(3, 117, 194);
  color: #fff;
}
.activities-img-massage-logo {
  padding: 0px 6px;
 background-color: #474646;
  position: absolute;
  top: 0;
}
.activities-img-massage-logo i{
  font-size: 10px;
  color: #fff;
}
.activities-img-massage-logo span{
  font-size: 11px;
  color: #fff;
}

.activities-img-text{
  width: 70%;
  padding: 5px 8px 5px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 200px;
}
.activities-img-text p{
  font-size: 12px;
  color: #fff;
}
.activities-img-text h6{
  font-size: 16px;
  margin-top: -10px;
  color: #fff;
}

.activities-img img {
  width: 100%;
}

/* activities-section-end */

/* project-archived-for-section-start */
#nav-project-archived {
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.project-archived {
  padding: 100px;
  background-color: #fff;
}

.project-archived-header h3 {
  font-weight: 400;
}

.cleft-lip-img img {
  width: 100%;
  padding: 10px;
}

.cleft-lip-text {
  margin-top: 25px;
  padding: 10px;
}

.cleft-lip-text h4 a {
  font-size: 21px;
  color: black;
}

.cleft-lip-text p {
  font-size: 15px;
  color: #7c7b7b;
  text-align: justify;
}

.see-more a {
  padding: 10px 25px;
  background-color: rgb(182, 6, 6);
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 30px;
}




.research-program-img img {
  width: 100%;
  padding: 10px;
}

.research-program-text {
  margin-top: 25px;
  padding: 10px;
}

.research-program-text h4 a {
  font-size: 21px;
  color: black;
}

.research-program-text p {
  font-size: 15px;
  color: #7c7b7b;
  text-align: justify;
}

.see-more a {
  padding: 10px 25px;
  background-color: rgb(182, 6, 6);
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 30px;
}


.arsenic-patient-img img {
  width: 100%;
  padding: 10px;
}

.research-program-text {
  margin-top: 25px;
  padding: 10px;
}

.arsenic-patient-text h4 a {
  font-size: 21px;
  color: black;
}

.arsenic-patient-text p {
  font-size: 15px;
  color: #7c7b7b;
  text-align: justify;
}

.see-more a {
  padding: 10px 25px;
  background-color: rgb(182, 6, 6);
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 30px;
}

.see-more a:hover {
  background-color: #7c7b7b;
  color: #fff;
}

@media screen and (max-width:500px) {
  .project-archived {
    padding: 20px 10px;
    background-color: #fff;
  }
}

/* project-archived-for-section-end  */
/* current-projects-section-start  */
#nav-current-projects {
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.current-projects {
  padding: 80px;
  background-color: #fff;
}

.current-projects-header h3 {
  font-weight: 300;
  font-size: 30px;
}

@media screen and (max-width:500px) {
  .current-projects {
    padding: 10px;
    background-color: #fff;
  }
}

/* current-projects-section-end  */

/* situation-report-section-start */
#situation-report-hero {
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#situation-report-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.situation-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  position: relative;
}

@media screen and (max-width:470px) {
  .situation-hero h1 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;

  }
}

/* situation-report-section-end */
/* press-release-section-start */
#nav-press-release{
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.press-release {
  padding: 80px;
  background-color: #fff;
}

.press-release-header h3 {
  font-weight: 400;
}
.press-release-notice-content img{
width: 100%;
}
.press-release-notice-marcy img{
width: 90%;
}
.press-release-notice-dcht img{
  width: 45%;
  display: block; 
  margin: auto;
  
}
.press-release-notice-cis img {
  width: 45%;
  display: block; 
  margin: auto;
}
.press-release-pragrap {
  margin-top: 20px;
}
.press-release-pragrap-bold{
  font-weight: 600;
}
.press-release-pragrap p{
  font-size: 15px;
  }

  .press-release-opaning{
    margin-top: 80px;
  }
.press-release-opaning-img img{
  width: 100%;
}

.press-release-opaning-info{
  padding: 0px 50px 0px 0px;
  margin-top: 30px;
  color: #7c7b7b;
}
.press-release-opaning-info p{
  font-size: 15px;
}
.press-release-full-line{
  width: 100%;
  height: 3px;
  background-color: black;
  margin-top: 50px;
}
.release-International-img img{
  width: 65%;
 display: block;
 margin: auto;
 margin-top: 10px;
}
.release-International-header{
  padding: 0px 60px;
}
.release-International-header h3{
  text-align: center;
  color: #474646;
  font-weight: 700;
 margin-top: 10px;
}
.release-International-info p{
  font-size: 15px;
  color: #6e6d6d;

}
.release-International-bottom-img img{
  width: 100%;
  margin-top: 80px;
}
@media screen and (max-width:500px) {
  .press-release {
    padding: 10px;
    background-color: #fff;
  }
  .press-release-notice-dcht img{
    width: 35%;
    display: block; 
    margin: auto;
    margin-top: 10px;
    
  }
  .press-release-notice-cis img {
    width: 35%;
    display: block; 
    margin: auto;
    margin-top: 10px;
  }
  .release-International-header{
    padding: 0px 10px;
  }
}
/* press-release-section-end */
/* news-letter-section-start */
#nav-news-letter {
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.news-letter{
  padding: 100px;
  background-color: #fff;
}

.news-letter-header h3 {
  font-weight: 400;
}
.news-letter-notice-img img {
  width: 100%;
}


@media screen and (max-width:500px) {
  .news-letter {
    padding: 10px;
    background-color: #fff;
    padding-bottom: 30px;
  }
}
/* news-letter-section-end */
/* leaflet-brochure-section-start  */
/* leaflet-brochure-hero-section-start  */
.leaflet-brochure-hero {
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.leaflet-brochure-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.leaflet-brochure-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  position: relative;
}
/* leaflet-brochure-section-end  */
.leaflet-brochure-img img{
  width: 100%;
}

/* leaflet-brochure-hero-section-end  */

/* stories-section-start */

/*  stories-hero-section-start  */ 
.stories-hero {
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.stories-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.stories-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  position: relative;
}
/*  stories-hero-section-end  */
.stories-img img{
  width: 100%;
}
/* stories-section-end */

/* publication-section-start */
.publication-hero {
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.publication-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.publication-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  position: relative;
}
/* publication-section-end  */

/* covid-19-leaflet-section-start */
/* covid-19-leaflet-hero-section-start */

.covid-19-leaflet-hero{
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.covid-19-leaflet-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.covid-19-leaflet-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  position: relative;
}

/* covid-19-leaflet-hero-section-end  */
#nav-covid-19-leaflet{
  padding: 10px 0px 80px 0px;
}
.covid-19-leaflet-img img{
  width: 100%;
}


/* covid-19-leaflet-section-end  */
/* covid-19-photos-section-start */
#nav-covid-19-photos {
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.covid-19-photos {
  padding: 100px;
  background-color: #fff;
}

.covid-19-photos-header h3 {
  font-weight: 400;
}
.covid-19-photos-img img{
  width: 100%;
}


@media screen and (max-width:500px) {
  .covid-19-photos {
    padding: 10px 10px 30px 10px;
    background-color: #fff;
  }
}
/* covid-19-photos-section-end */

/* covid-19-reports-section-start */
#nav-covid-19-reports {
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.covid-19-reports {
  padding: 100px;
  background-color: #fff;
}

.covid-19-reports-header h3 {
  font-weight: 400;
}

@media screen and (max-width:500px) {
  .covid-19-reports {
    padding: 10px 10px 30px 10px;
    background-color: #fff;
  }
}

/* covid-19-reports-section-end */
/* covid-19-case-study-section-start */

#nav-covid-19-case-study {
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.covid-19-case-study {
  padding: 100px;
  background-color: #fff;
}

.covid-19-case-study-header h3 {
  font-weight: 400;
}

@media screen and (max-width:500px) {
  .covid-19-case-study {
    padding: 10px 10px 30px 10px;
    background-color: #fff;
  }
}

/* covid-19-case-study-section-end */
/* Events-2-section-start */

#nav-Events-2 {
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.Events-2 {
  padding: 100px;
  background-color: #fff;
}

.Events-2-header h3 {
  font-weight: 400;
}
.Events-2-text{
  padding: 0px 60px;
}
.Events-2-text h2{
  text-align: center;
  font-size: 40px;
 color: #790303;
 font-weight: 600;
}
.Events-2-img img{
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width:500px) {
  .Events-2 {
    padding: 10px 10px 30px 10px;
    background-color: #fff;
  }
  .Events-2-text h2{
    text-align: center;
    font-size: 30px;
   color: #790303;
   font-weight: 600;
  }
}

/* Events-2-section-end */

/* upcoming-events-section-start */
/* 
upcoming-events-hero-section-start  */
.upcoming-events-hero{
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.upcoming-events-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.upcoming-events-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  position: relative;
}
/* upcoming-events-hero-section-end */
#nav-upcoming-events{
  padding: 0px 0px 80px 0px;
}
.upcoming-events-header h2{
  font-weight: 600;
  padding: 10px;
}
.upcoming-events-picture img{
  width: 100%;
  padding: 0px 50px 0px 50px;
}
.upcoming-events-text h2{
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}
.upcoming-events-text h4{
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}

@media screen and (max-width:500px) {
  .upcoming-events-picture img{
    width: 100%;
    padding: 0px 0px 0px 0px;
  }

}
/* upcoming-events-section-end */
/* contact-us-section-start */
/* contact-us-hero-section-start */
.contact-us-hero{
  background: url(../img/hero-img/Slider-cis-2-01-scaled.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-us-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.contact-us-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  position: relative;
}

/* contact-us-hero-section-end */
#nav-contact-us{
 background: url(../img/xjCbTr.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  padding: 80px;
}
.get-in-touch-header h2{
  text-align: center;
  color: #fff;
}
.get-in-touch-info{
  padding:40px 0px 0px 0px ;
}
.get-in-touch-icon{
  display: block;
  margin: auto;
  width: 40px;
}
.get-in-touch-icon i{
  font-size: 18px;
  padding: 13px;
  background-color: #fff;
  border-radius: 50%;
 text-align: center;
  margin: auto;
}
.get-in-touch-info h4{
  text-align: center;
  color: #fff;
  margin-top: 15px;
}
.get-in-touch-info p{
  text-align: center;
  color: #fff;
}

.contact-us-header h2{
  text-align: center;
  color: #fff;
}
.nav-contact{
  padding: 0px 60px;
}

.nav-contact label{
  margin-top: 20px;
  font-weight: 600;
  color: #fff;
  font-size: 15px;
}

.nav-contact input{
  width: 100%;
  padding: 2px;
  border-radius: 2px;
  border: none;
}
.nav-contact textarea {
  width: 100%;
  height: 100px;
  border-radius: 2px;
}
.nav-contact .submit{
width: 90px;
padding: 5px 20px;
font-size: 15px;
margin-top: 30px;
}
.nav-contact .submit:hover{
  background-color: red;
  color: #fff;
}
@media screen and (max-width:500px) {
  .nav-contact{
    padding: 0px  0px;
   
  }
  .contact-us{
    margin-top: 50px;
  }
}
#contact-us-map{
padding: 10px 10px 80px 10px;
}

.contact-map iframe{
  width: 100%;
  height: 70vh;
}
/* contact-us-section-end */

/* drop-your-resume-section-start */
.drop-your-header h3{
  font-weight: 600;
  font-size: 30px;
}
.drop-your-resume{
  padding: 50px 0px 20px 0px;
}
.drop-your-info label{
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
}
.drop-your-info input{
  width: 100%;
  padding: 12px;
  border: none;
background-color: #f0efef;
}
.drop-your-info .submit{
  width: 120px;
  color: #fff;
  background-color: rgb(4, 116, 182);
}
.drop-your-info .submit:hover{
  background-color: #474646;
}
/* drop-your-resume-section-end */

/* vacancy-announcements-section-start */


#nav-vacancy-announcements{
  padding: 60px 0px 120px 0px;
  background-color: #e2dbdb;
}

.vacancy-announcements {
  padding: 100px;
  background-color: #fff;
}

.vacancy-announcements-header h3 {
  font-weight: 400;
}

.vacancy-announcements-text p {
  font-size: 15px;
  text-align: justify;
  margin-top: 80px;
  padding-left: 10px;
 
}

@media screen and (max-width:500px) {
  .work-for {
    padding: 10px;
    background-color: #fff;
  }
}
/* vacancy-announcements-section-end  */