@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: "Maven Pro", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav-section-start */
.navbar {
  background-color: rgb(212, 0, 0) !important;
}

.nav-item .nav-link {
  color: #fff !important;
  font-size: 14px;
  margin-left: 5px;
  font-weight: 500;
}

.nav-item .nav-link:hover {
  color: #b9b7b7 !important;
}

.dropdown-menu {
  background-color: rgb(212, 0, 0) !important;
  border: 1px solid #fff !important;
}

.dropdown-item {
  color: #fff !important;
  font-size: 13px;
  font-weight: 400 !important;
  letter-spacing: 1px;
  margin-top: 6px;
}

.dropdown-item:hover {
  background-color: rgb(175, 1, 1) !important;
}

@media screen and (max-width: 500px) {
  .dropdown-menu {
    background-color: rgb(212, 0, 0) !important;
    border: none !important;
  }
}

/* nav-section-end */

/* hero- section-start */
/* hero- section-end */

/* about-section-start */
#about-us {
  background-color: #cf2e2e;
  color: #fff;
}

.about {
  padding: 60px 0px 50px 0px;
  margin-left: 10px;
}

.about a {
  width: 100px;
  box-shadow: 0px 8px 10px 0px rgba(198.75, 3.456521739130437, 3.456521739130437, 0.5);
  background-color: red;
  font-size: 12px;
}

.about-video {
  padding: 75px 0px 50px 0px;
  /* margin-left: 10px; */
}

.about-video iframe {
  width: 98%;
  height: 450px;
  border: 1px solid black;
  box-shadow: 0px 8px 10px 0px rgba(95, 92, 92, 0.5);
}

.about-video a {
  width: 100px;
  box-shadow: 0px 8px 10px 0px rgba(198.75, 3.456521739130437, 3.456521739130437, 0.5);
  background-color: red;
  font-size: 12px;
}

/* about-section-end */

/* vision-section-start */
#vision {
  padding: 50px 0px;
}
.section-header-underline{
  padding: 2px;
  width: 110px;
  margin: auto;
  background-color: red;
  border-radius: 20px;
}
.vision-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.vision-text {
  margin-top: 110px;
}

.vision-text ul {
  font-size: 18px;
}

.vision-cis-img img {
  width: 98%;
  float: right;
  margin-top: 20px;
}

/* vision-section-end */
/* mission-section-start  */

.mission-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.mission-safar-img {
  margin-top: 50px;
}

.mission-safar-img img {
  width: 100%;
}

.mission-text p {
  margin-top: 110px;
}

@media screen and (max-width: 500px) {
  .mission-text p {
    margin-top: 50px !important;
  }
}

/* mission-section-end */

/* activities-section-start */
#activities {
  padding: 20px 0px;
}

.activities-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}


.content-area {
  background: var(--white);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
  border-radius: 6px;
  /* margin: 10px;   */
}


.img-area p {
  font-size: 12px;
  margin-top: 10px;
  border-radius: 6px;
}

.img-area img {
  width: 100% !important;
  height: 200px;
  display: block;
  margin: auto;

  object-fit: cover;
}


.img-area a {
  text-align: center;
  font-size: 17px;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  color: red;
  font-weight: 500;
}

.img-area a:hover {
  color: red;
}

.img-area .read {
  float: left;
  font-size: 15px;
  text-decoration: none;
  margin-top: 10px;


}

.owl-dots {
  text-align: center;
  margin-top: 2%;
}

.owl-dot {
  width: 10px !important;
  height: 10px !important;
  background-color: rgb(180, 178, 178) !important;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.8;
}

.owl-dot.active {
  background-color: red !important;
}

@media screen and (max-width: 990px) {
  .testimonial-header h1 {
    font-size: 2em;
  }
}

/* activities-section-end */
/* working-and-story-section-start */
#workandstory {
  padding: 50px 0px;
}

.work-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.work-map {
  margin-top: 55px !important;
}

.work-map img {
  width: 100%;
}

.story-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}


.story-area {
  background: var(--white);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
  border-radius: 6px;

}



.owl-dots {
  text-align: center;
  margin-top: 2%;
}

.owl-dot {
  width: 10px !important;
  height: 10px !important;
  background-color: rgb(180, 178, 178) !important;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.8;
}

.owl-dot.active {
  background-color: red !important;
}

@media screen and (max-width: 990px) {
  .testimonial-header h1 {
    font-size: 2em;
  }
}


/* working-and-story-section-end */
/* impacts-section-start */
#impacts {
  padding: 50px 0px;
}

.impact-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.impact-main-area {
  padding: 50px 0px;
  background-color: rgb(99, 3, 3);
}

.impact-item {

  padding: 50px;
  border: 1px solid white;
}

.impact-item h1 {

  font-size: 50px;
  color: #fff;
  text-align: center;
}

.impact-item h2 {

  font-size: 25px !important;
  color: #fff;
  text-align: center;
}

/* impacts-section-end */
/* feedback-section-start */
#feedback {
  padding: 20px 0px;
}

.feed-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.feedback-area {
  background: var(--white);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) !important;
  border-radius: 6px;

}

.yourfeed {
  width: 100%;
  padding: 60px;
  /* border: 1px solid black; */
  position: relative;
  z-index: -1;
  box-shadow: 9px 11px 14px 0 rgba(0, 0, 0, .1);
}

.yourfeed p {
  text-align: center;
  color: rgb(121, 118, 118);
}

.your-info {
  margin: auto;
  width: 30%;
  margin-top: -40px;
  z-index: 1;
}

.yourfeed-img {

  width: 70px;
  display: block;
  margin: auto;

}

.yourfeed-img img {

  border-radius: 50%;
  top: 0;
  width: 120px;
}

.yourfeed-info h3 {
  font-size: 18px;
  text-align: center;
}

.yourfeed-info p {
  text-align: center;
  font-size: 13px;
}



.owl-dots {
  text-align: center;
  margin-top: 2%;
}

.owl-dot {
  width: 10px !important;
  height: 10px !important;
  background-color: rgb(180, 178, 178) !important;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.8;
}

.owl-dot.active {
  background-color: red !important;
}

@media screen and (max-width: 990px) {
  .testimonial-header h1 {
    font-size: 2em;
  }
}

/* feedback-section-end */
/* partners-section-start */
#partners {
  padding: 50px 0px;
}

.partner-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.pantner-info {
  width: 100%;

}

.pantner-info img {
  width: 100%;
  object-fit: cover;


}

/* partners-section-end */
/* photo-gallery-section-start */
#photo-gallery {
  padding: 50px 0px;
}

.gallery-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.gallary-img {
  width: 100%;
  margin-top: 25px;
}

.gallary-img img {
  width: 100%;
}

.gallary-button {
  width: 120px;
  margin: auto;
  margin-top: 25px;

}

.gallary-button a {
  background-color: red;
  width: 120px;
  margin: auto;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;

}

.gallary-button a:hover {
  background-color: black;
  color: #fff;
}

/* photo-gallery-section-end */
/* fotter-section-start */
#fotter {
  padding: 100px 0px;
  background-color: rgb(160, 7, 7);
}

.society-logo img {
  width: 100%;
}

.society p {
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.facebook {
  margin-left: 20px;
}

.facebook i {
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.useful-header h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.underline {
  width: 50%;
  margin: auto;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
}

.links a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
}

.links a:hover {
  color: black;
}

.latest-header h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.updeat-img img {
  width: 40%;
}

.updeat {
  display: flex;
}

.updeat-text {
  margin-left: -95px !important;
}

.updeat-text a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;

}

.updeat-text a:hover {
  color: black;
}

.contact-header h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.phone {
  display: flex;
  margin: auto;
  width: 40%;
  margin-top: 20px;
}

.call i {
  margin-right: 10px;
}

.namber a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.gmail {
  display: flex;
  margin: auto;
  width: 40%;
  margin-top: 20px;

}

.mail i {
  margin-right: 10px;
  margin-left: 5px;
}

.cis-mail a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.area {
  display: flex;
  margin: auto;
  width: 50%;
  margin-top: 20px;

}

.area-icon i {
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 30px;
}

.area-name a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.subscribe h1 {
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.for {
  width: 70%;
  margin: auto;
  margin-left: 50px;
}

.for p {
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.login input {
  width: 70%;
  padding: 8px 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border: none;
  margin-left: 50px;

}

.login label {
  background-color: #790303;
  padding: 9px 15px;
  margin-left: -3px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.copyright {
  padding: 20px 0px;
  width: 100%;
}

.copy p {
  text-align: center;
}

/* fotter-section-end */
/* copyright-section-start  */
#copyright {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: #fff;
}

/* copyright-section-end */

/* about-section-start */
/* about-hero-section-start*/
.about-hero {
  background: url(../img/hero-img/ny.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
}

/* about-hero-section-end*/
/* about-us-section-start */
#nav-about-us {
  padding: 10px 0px 50px 0px;
  background-color: #fff;
}

.nav-about-header h1 {
  font-size: 25px;
  margin-top: 0;
  color: #fff;
  background-color: rgb(209, 7, 7);
  padding: 10px;
  width: 350px;
}

.nav-about-header p {
  color: black;
  font-size: 15px;
}

/* about-us-section-end */
/* about-section-end */

/* history-section-start */
/* history-hero-section-start*/
.history-hero {
  background: url(../img/hero-img/ny.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;

}

/* history-us-section-start */
#nav-our-history {
  padding: 10px 0px 80px 0px;
  background-color: #fff;
}

.nav-history-header h1 {
  font-size: 25px;
  margin-top: 0;
  color: #fff;
  background-color: rgb(209, 7, 7);
  padding: 10px;
  width: 350px;
}

.nav-history-header p {
  color: black;
  font-size: 15px;
}

/* history-us-section-end */

/* history-hero-section-end*/

/* mission&vision-section-start */
/* mission&vision-hero-start */
.mission-vision-hero {
  background: url(../img/hero-img/ny.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-vision-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;

}

@media screen and (max-width:470px) {
  .mission-vision-hero h1 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;

  }
}

/* mission&vision-hero-end */

/* mission&vision-text-section-start */

#mission-vision {
  background: url(../img/hero-img/la\ \(1\).jpg);
  width: 100%;
  /* height: 700px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0px;
}

.mission {
  padding: 0px 60px 0px 0px;
}

.mission h2 {
  color: #fff;
}

.mission p {
  color: #fff;
  font-size: 17px;
  text-align: justify;
}

.vission {
  padding: 0px 0px 0px 80px;

}

.vission h2 {
  color: #fff;

}

.vission ul li {
  color: #fff;
  float: right;
  text-align: justify;
  font-size: 17px;

}

/* mission&vision-text-section-end */
/* mission&vision-section-end */

/* governing-board-section-start */
/* governing-board-hero-section-start  */
.governing-board-hero {
  background: url(../img/hero-img/ny.jpg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.governing-board-hero h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
}
@media screen and (max-width:470px) {
  .governing-board-hero h1 {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
  }
}
/* governing-board-hero-section-end */
/* governing-board-card-section-start */
#governing-board-card{
  padding: 0px 0px 100px 0px;
}
.governing-board-info-card{
padding: 40px 20px;
/* background-color: antiquewhite; */
border-radius: 10px;
box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}
.governing-board-card-img img{
  width: 100%; 
}
.governing-board-card-text h5  {
  text-align: center;
}
.governing-board-card-text h5 a {
 text-decoration: none;
 color: black;
}
.governing-board-card-text p {
  text-align: center;
}

.governing-social{
  background-color: #b9b7b7;
  padding: 9px 6px 6px 6px;
  border-radius: 50%;
}
.governing-social i{
  font-size: 20px;
}
/* governing-board-card-section-end */
/* governing-board-section-end */

/* partners-section-start */
#nav-main-partner{
  padding: 40px 0px 80px 0px;
}
.international{
  padding: 50px 0px;
  border: 3px solid red;
}
.international-logo{
  /* padding: 10px; */
  background-color: rgb(199, 2, 2);
  width: 100px;
  border-radius: 50%;
  margin: auto;
}
.international-logo i{
  font-size: 50px;
  padding: 20px;
  text-align: center;
 
}
.international-text h3{
  text-align: center;
}



.national{
  padding: 50px 0px;
  border: 3px solid red;
}
.national-logo{
  padding: 20px;
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  border: 25px solid green;
}
.national-logo i{
  font-size: 50px;
  padding: 20px;
  text-align: center;
 
}
.national-text h3{
  text-align: center;
}
/* partner-fotter-start */
#partner-fotter {
  padding: 100px 0px;
  background-color: rgb(37, 37, 37);
}

.partner-society p {
  text-align: center;
  font-size: 14px;
  color: red;
}

.facebook {
  margin-left: 20px;
}

.partner-facebook i {
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.useful-header h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.underline {
  width: 50%;
  margin: auto;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
}

.partner-links a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.partner-links a:hover {
  color: black;
}

.latest-header h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.updeat-img img {
  width: 40%;
}

.updeat {
  display: flex;
}

.partner-updeat-text {
  margin-left: -95px !important;
}

.partner-updeat-text a {
  text-decoration: none;
  color: red;
  font-size: 12px;

}

.updeat-text a:hover {
  color: black;
}

.contact-header h1 {
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.phone {
  display: flex;
  margin: auto;
  width: 40%;
  margin-top: 20px;
}

.call i {
  margin-right: 10px;
}

.partner-namber a {
  text-decoration: none;
  color: red;
  font-size: 14px;
}

.gmail {
  display: flex;
  margin: auto;
  width: 40%;
  margin-top: 20px;

}

.mail i {
  margin-right: 10px;
  margin-left: 5px;
}

.partner-cis-mail a {
  text-decoration: none;
  color: red;
  font-size: 14px;
}

.area {
  display: flex;
  margin: auto;
  width: 50%;
  margin-top: 20px;

}

.area-icon i {
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 30px;
}

.partner-area-name a {
  text-decoration: none;
  color: red;
  font-size: 14px;
}

.partner-subscribe h1 {
  text-align: center;
  color: red;
  font-size: 18px;
  margin-top: 10px;
}

.for {
  width: 70%;
  margin: auto;
  margin-left: 50px;
}

.partner-for p {
  text-align: center;
  font-size: 14px;
  color: red;
}

/* partner-fotter-end */
/* partners-section-end */